# OmniConvert Studio - .gitignore

# Windows Binaries & Installers (Not needed on GitHub Pages)
*.exe
*.dll
*.pdb
*.license
app.license

# Scripts & Temporary Archives
*.bat
*.cmd
*.zip
*.log

# OS / Editor junk
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
.firebase/
node_modules/
